{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="mx-auto text-center">Shopping bag</h3>
            </div>
            <div class="col-12">
                <p>
                    Every 3 products purchase one is on us!<br>
                    {% if product_count == 0 %}
                        Get {{ free_product_threshold }} plants to have one Free.
                    {% elif product_count < 3 %}
                        Get {{ free_product_threshold }} more plants to have one Free.
                    {% else %}
                        Get {{ free_product_threshold }} more plants and have another one Free.
                    {% endif %}
                </p>
            </div>
        </div>
        {% if bag_items %}
            <!-- Products count -->
            <div class="row">
                <div class="col-12">
                    <span class="badge badge-info">
                        {% if product_count > 1 %}
                            There are {{ product_count }} plants
                        {% else %}
                            There is {{ product_count }} plant
                        {% endif %} in your bag
                    </span>
                </div>
            </div>
            <!-- Products display -->
            <div class="row">
                {% for item in bag_items %}
                    <div class="col-12 col-md-6 p-3">
                        <div class="card mb-3 h-100 card-products">
                            <div class="row no-gutters">
                                <div class="col-4 text-center mt-1">
                                    {% if item.product.image.url %}
                                        <img class="img-fluid card-products-images" 
                                            src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                    {% else %}
                                        <img class="img-fluid card-products-images" 
                                            src="{{ MEDIA_URL }}no-image.jpg" alt="{{ item.product.name }}">
                                    {% endif %}
                                </div>
                                <div class="col-8">
                                    <div class="card-body">
                                        <div class="row no-gutters">
                                            <div class="col-12">
                                                <h5 class="card-title">{{ item.product.name }}</h5>
                                            </div>
                                            <div class="col-12 text-left">
                                                <span><strong>€ {{ item.product.price }}</strong></span>
                                            </div>
                                            <div class="col-12">
                                                {% if item.product.quantity == 0 %}
                                                    <p class="card-text">
                                                        <span class="badge badge-pill badge-danger badge-product-quantity"
                                                        >Out of stock</span>
                                                        <span class="card-text my-0"><small class="text-muted">
                                                            It will be back in stock soon</small></span>
                                                    </p>
                                                {% elif item.product.quantity <= 5 %}
                                                    <p class="card-text">
                                                        <span class="badge badge-pill badge-warning badge-product-quantity">
                                                            Only {{ item.product.quantity }} left</span>
                                                    </p>
                                                {% else %}
                                                    <p class="card-text">
                                                        <span class="badge badge-pill badge-success badge-product-quantity">
                                                            In stock</span>
                                                    </p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-8">
                                    <!-- Quantity form -->
                                    <form class="form update-form" action="{% url 'adjust_bag' item.item_id %}" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="row no-gutters">
                                                <div class="col-8">
                                                    <div class="input-group h-100">
                                                        <div class="input-group-prepend">
                                                            <button class="decrement-qty" 
                                                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                                <span>
                                                                    <i class="fas fa-minus"></i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                        <input class="form-control-sm qty_input h-100" id="id_qty_{{ item.item_id }}" 
                                                            type="number" name="quantity" data-item_id="{{ item.item_id }}"
                                                            value="{{ item.quantity }}" 
                                                            min="1" max="{{ item.product.quantity| calc_max_value:item.quantity }}">
                                                        <div class="input-group-append">
                                                            <button class="increment-qty"
                                                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                                <span>
                                                                    <i class="fas fa-plus"></i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                        <!-- Quantity feedback messages -->
                                                        <div class="input-qty-feedback" id="too_high_qty_{{ item.item_id }}">
                                                            <small class="badge badge-warning">
                                                                We dont have that many! max = {{ item.product.quantity }}
                                                            </small>
                                                        </div>
                                                        <div class="input-qty-feedback" id="too_small_qty_{{ item.item_id }}">
                                                            <small class="badge badge-warning">
                                                                That is too little! min = 1
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <!-- Delete product -->
                                                    <button class="m-1" name="delete" data-item_id="{{ item.item_id }}">
                                                        <span class="icon">
                                                            <i class="far fa-trash-alt"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </form>
                                </div>
                                <!-- move to wishlist -->
                                <div class="col-4">
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        <button class="m-1" type="submit" name="add_to_wishlist" data-item_id="{{ item.product.id }}">
                                            move to wishlist
                                        </button>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </form>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-12">
                                    <p class="mx-auto text-left mb-1">
                                        <small class="text-muted ml-1">Subtotal: € {{ item.product_subtotal }}</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col w-100"></div>
                {% endfor %}
                <!-- Order summary and total -->
                <div class="col-12 col-md-6">
                    <div class="table-responsive">
                        <p><small class="text-muted">Order summary</small></p>
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Item</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in bag_items %}
                                    <tr>
                                        <td>{{ item.product.name }}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>€ {{ item.product.price }}</td>
                                        <td>€ {{ item.product_subtotal }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="float-right w-50">
                        <hr class="mb-1">
                        <hr class="mt-1">
                        <p>Bag total: € {{ total }}</p>
                        <p>Delivery cost: € {{ delivery_cost|floatformat:2 }}</p>
                        <p>Discount: € 
                            {% if discount %}
                                {{ discount|floatformat:2 }}
                            {% else %}
                                0 <span class="badge badge-warning">Get {{ free_product_threshold }} more items and the cheapest is on us!</span>
                            {% endif %}
                        </p>
                        <p><strong>Grand total: € {{ grand_total|floatformat:2 }}</strong></p>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-12 text-center">
                    <p class="text-center mx-auto">There is nothing in your basket...</p>
                    <a href="{% url 'home' %}" aria-label="link to home page" class="btn btn-large">Back home</a>
                    <a href="{% url 'products' %}" aria-label="link to home page" class="btn btn-large">Back to the garden</a>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- Back to the top button -->
    <div class="scroll-to-top">
        <a href="#" id="back-to-top-link">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'bag/includes/quantity_input_and_update_bag_script.html' %}
    <!-- Handle the back to top link -->
    <script type="text/javascript">
        $('#back-to-top-link').click(function(e) {
        window.scrollTo(0,0)
        })
    </script>

    <!-- <script type="text/javascript">
        // Update quantity on click
        // $('.update-btn').click(function(e) {
        //     let form = $(this).prev('.update-form');
        //     form.submit();
        // });
        
        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            let csrfToken = "{{ csrf_token }}";
            let itemId = $(this).attr('id').split('remove_')[1]; // to get the second part of the split
            let size = $(this).data('product_size');
            let url = `/bag/remove/${itemId}/`;
            let data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

            $.post(url, data)
                .done(function() {
                    location.reload();
            });
        });
    </script> -->
{% endblock %}