{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
    <div class="container position-relative">
        <div class="row">
            <div class="col-12">
                <h2 class="mx-auto text-center page-heading">Shopping bag</h2>
            </div>
            <div class="col-12 text-center mt-3 mt-md-5">
                <p class="lead mx-auto">
                    Every 3 products purchase one is on us!<br>
                    {% if product_count == 0 %}
                        Get {{ free_product_threshold }} plants to have one Free.
                    {% elif product_count < 3 %}
                        Get {{ free_product_threshold }} more plants to have one Free.
                    {% else %}
                        Get {{ free_product_threshold }} more plants and have another one Free.
                    {% endif %}
                </p>
            </div>
        </div>
        {% if bag_items %}
            <!-- Buy now btn for small screen -->
            <div class="row no-gutters">
                <div class="col-12 d-block d-md-none text-center bag-buy-now-btn-wrapper" id="buy-now-btn-position-wrapper">
                    <a href="{% url 'checkout' %}" class="lead buy-now-btn bag-buy-now-btn" id="buy-now-btn-position"
                    aria-label="Link to checkout page.">
                        Buy now 
                        <span class="text-muted">
                            ({{ product_count }}{% if product_count > 1 %}items{% else %}items{% endif %} for € {{ grand_total|floatformat:2 }})
                        </span>
                    </a>
                </div>
            </div>
            <!-- Products count -->
            <div class="row">
                <div class="col-12 mt-2">
                    <span class="badge badge-info">
                        {% if product_count > 1 %}
                            There are {{ product_count }} plants
                        {% else %}
                            There is {{ product_count }} plant
                        {% endif %} in your bag
                    </span>
                </div>
            </div>
            <!-- Products display -->
            <div class="row position-relative">
                {% for item in bag_items %}
                    <div class="col-12 col-md-6 col-xl-4 p-3">
                        <div class="card mb-3 h-100 card-products">
                            <div class="row no-gutters">
                                <div class="col-4 text-center mt-1">
                                    {% if item.product.image.url %}
                                        <img class="img-fluid card-products-images" 
                                            src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                    {% else %}
                                        <img class="img-fluid card-products-images" 
                                            src="{{ MEDIA_URL }}no-image.jpg" alt="{{ item.product.name }}">
                                    {% endif %}
                                </div>
                                <div class="col-8">
                                    <div class="card-body">
                                        <div class="row no-gutters">
                                            <div class="col-12">
                                                <h5 class="card-title">{{ item.product.name }}</h5>
                                            </div>
                                            <div class="col-12 text-left">
                                                {% if item.product.on_sale %}
                                                    <span class="striked text-muted">€ {{ item.product.price }}</span>
                                                    <span><strong>€ {{ item.product.on_sale_price }}</strong></span>
                                                {% else %}
                                                    <span><strong>€ {{ item.product.price }}</strong></span>
                                                {% endif %}
                                            </div>
                                            <div class="col-12">
                                                {% if item.product.quantity == 0 %}
                                                    {% if item.took_last_item %}
                                                        <p class="card-text">
                                                            <span class="badge badge-pill badge-danger badge-product-quantity"
                                                            >No more</span>
                                                            <span class="card-text my-0"><small class="text-muted">
                                                                You got the last one</small></span>
                                                        </p>
                                                    {% else %}
                                                        <p class="card-text">
                                                            <span class="badge badge-pill badge-danger badge-product-quantity"
                                                            >Out of stock</span>
                                                            <span class="card-text my-0"><small class="text-muted">
                                                                It will be back in stock soon</small></span>
                                                        </p>
                                                    {% endif %}
                                                {% elif item.product.quantity <= 5 %}
                                                    <p class="card-text">
                                                        <span class="badge badge-pill badge-warning badge-product-quantity">
                                                            Only {{ item.product.quantity }} left</span>
                                                    </p>
                                                {% else %}
                                                    <p class="card-text">
                                                        <span class="badge badge-pill badge-success badge-product-quantity">
                                                            In stock</span>
                                                    </p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-5">
                                    <!-- Quantity form -->
                                    <form class="form update-form" action="{% url 'adjust_bag' item.item_id %}" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group my-0">
                                            <div class="row no-gutters">
                                                <div class="col ml-2">
                                                    <div class="input-group h-100">
                                                        <div class="input-group-prepend">
                                                            <button class="decrement-qty" 
                                                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                                <span>
                                                                    <i class="fas fa-minus"></i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                        <input class="form-control-sm qty_input h-100" id="id_qty_{{ item.item_id }}" 
                                                            type="number" name="quantity" data-item_id="{{ item.item_id }}"
                                                            value="{{ item.quantity }}" 
                                                            min="1" max="{{ item.product.quantity| calc_max_value:item.quantity }}">
                                                        <div class="input-group-append">
                                                            <button class="increment-qty"
                                                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                                <span>
                                                                    <i class="fas fa-plus"></i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                        <!-- Quantity feedback messages -->
                                                        <div class="input-qty-feedback" id="too_high_qty_{{ item.item_id }}">
                                                            <small class="badge badge-warning">
                                                                We dont have that many! max = {{ item.product.quantity| calc_max_value:item.quantity }}
                                                            </small>
                                                        </div>
                                                        <div class="input-qty-feedback" id="too_small_qty_{{ item.item_id }}">
                                                            <small class="badge badge-warning">
                                                                That is too little! min = 1
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </form>
                                </div>
                                <!-- move to wishlist -->
                                <div class="col-5 text-center">
                                    {% include 'bag/includes/move_to_wishlist.html' %}
                                </div>
                                <!-- Remove product -->
                                <div class="col-2 text-center">
                                    <button title="Delete product" class="delete-prod-btn remove-item" id="remove_{{ item.item_id }}" 
                                        name="delete" data-item_id="{{ item.item_id }}">
                                        <span class="icon">
                                            <i class="far fa-trash-alt"></i>
                                        </span>
                                        <span class="sr-only">Remove the product {{item.product.name}} from the bag.</span>
                                    </button>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-12">
                                    <p class="mx-auto text-left mb-1">
                                        <small class="text-muted ml-1">Subtotal: € {{ item.product_subtotal }}</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-8 w-100"></div>
                {% endfor %}
                <!-- Order summary and total -->
                <div class="col-12 col-md-6 col-xl-8 mt-2 bag-order-detail">
                    <div class="table-responsive">
                        <p><small class="text-muted">Order summary</small></p>
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Item</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in bag_items %}
                                    <tr>
                                        <td>{{ item.product.name }}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>
                                            {% if item.product.on_sale %}
                                                € {{ item.product.on_sale_price }}
                                            {% else %}
                                                € {{ item.product.price }}
                                            {% endif %}
                                        </td>
                                        <td>€ {{ item.product_subtotal }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <hr class="mb-1">
                        <hr class="mt-1">
                        <p>Bag total: € {{ total }}</p>
                        <p>Delivery cost: € {{ delivery_cost|floatformat:2 }}</p>
                        <p>Discount: € 
                            {% if discount %}
                                {{ discount|floatformat:2 }}
                            {% else %}
                                0 <span class="badge badge-warning">Get {{ free_product_threshold }} more items and the cheapest is on us!</span>
                            {% endif %}
                        </p>
                        <p><strong>Grand total: € {{ grand_total|floatformat:2 }}</strong></p>
                    </div>
                    <div class="row w-100">
                        <div class="col-12 text-left mb-2 mr-0">
                            <a href="{% url 'checkout' %}" class="buy-now-btn checkout-btn mr-0" aria-label="Link to checkout page.">
                                Proceed to Checkout</a>
                        </div>
                        <div class="col-12 mt-2 text-left">
                            <a href="{% url 'products' %}" aria-label="Link to all products page." 
                                class="keep-shop-btn">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span>Keep shopping | All products</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-12 text-center mt-5">
                    <p class="text-center mx-auto mb-5">There is nothing in your basket...</p>
                    <a href="{% url 'home' %}" aria-label="link to home page" class="keep-shop-btn m-2">Back home</a>
                    <a href="{% url 'products' %}" aria-label="link to home page" class="keep-shop-btn m-2">Back to the garden</a>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- Back to the top button -->
    <div class="scroll-to-top d-md-none">
        <a href="#" id="back-to-top-link">
            <i class="fas fa-arrow-up"></i>
        </a>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'bag/includes/set_position_back_script.html' %}
    {% include 'bag/includes/quantity_input_and_update_bag_script.html' %}
    <!-- Handle the back to top link -->
    <script type="text/javascript">
        $('#back-to-top-link').click(function(e) {
        window.scrollTo(0,0)
        })
    </script>

    <script type="text/javascript">
        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            let csrfToken = "{{ csrf_token }}";
            let itemId = $(this).attr('id').split('remove_')[1]; // to get the second part of the split
            let url = `/bag/remove/${itemId}/`;
            let data = {'csrfmiddlewaretoken': csrfToken};

            $.post(url, data)
                .done(function() {
                    location.reload();
            });
        });
    </script>

    <script type="text/javascript">
        // Position "buy now" btn to fix at the top of the screen 
        // when scroll past (= sticky-top) on small screen.
        $(document).ready(function() {
            $(window).scroll(function() {

                let buyNowButtonWrapper = $('#buy-now-btn-position-wrapper');
                let buyNowButton = $('#buy-now-btn-position');

                if ($(document).scrollTop() > 182) {
                    buyNowButtonWrapper.addClass("fixed-top");
                    buyNowButton.addClass("bag-buy-now-btn-top-screen");
                } else {
                    buyNowButtonWrapper.removeClass("fixed-top");
                    buyNowButton.removeClass("bag-buy-now-btn-top-screen");
                }
            });
        });
    </script>
{% endblock %}