{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center main-title">What You Need</h1>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12 text-center">
                <a href="#about-us" class="text-muted" aria-label="Link to the about us section">About us</a> |
                <a href="#contact-us" class="text-muted" aria-label="Link to the contact us section"> Contact us</a> |
                <a href="#terms-and-conditions" class="text-muted" aria-label="Link to the Terms and Conditions of Use section"> Ts & Cs</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <!-- Illustration by vectordreamsmachine,
                    (https://depositphotos.com/274525976/stock-illustration-house-flowers-indoor-floriculture-round.html) -->
                <img src="{% static 'images/home-photo.jpg' %}" class="mx-auto img-fluid d-block" alt="Illustration of plants in round pattern" 
                height="300" width="300">
                <p class="lead text-center mx-auto">
                    We offer a wide variety of potted plants. From the most delicate flora to the most indestructible.</br>
                    <b>Find What you need today!</b>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">
                    <a href="{% url 'products' %}" class="btn rounded" aria-label="Link to the all products page.">Find What You Need</a>
                </h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- About us -->
                
                <h3 class="home-page-headings">About us<a id="about-us" class="home-page-internal-links"></a></h3>
                <p>
                    What You Need online shop offers a wide variety of plants. From the most delicate plants to the
                    most indestructible. Customer can browse the website catalog by sorting or searching for specific
                    categories, deals and plants.
                    Registered and logged in customer will benefit of the full functionalities of the website including
                    saving items into a wishlist, ratings products and leaving reviews. As well as reviewing their past
                    order and making request about an order their orders with ease and confidence. And on top of it They will 
                    have access to the community only plants selection. So get what you need today!
                    We are an Irish startup company that thrives on green energy and that aim to give our customers the best service 
                    with a positive impact on their daily lives.
                </p>
            </div>
            <div class="col-12">
                <!-- Contact us from -->
                <a id="contact-us" class="home-page-internal-links"></a>
                <h3 class="home-page-headings">Contact us</h3>
            </div>
            <!-- Terms and Conditions -->
            <div class="col-12">
                <a id="terms-and-conditions" class="home-page-internal-links"></a>
                <h3 class="home-page-headings">Terms and Conditions of use</h3>
                <p>
                    This is the privacy notice of What You Need: ("we", "our", or "us").
                    
                    This notice describes how we collect, store, transfer and use personal data. It tells you about your
                    privacy
                    rights and how the law protects you.
                    In the context of the law and this notice, "personal data" is information that clearly identifies
                    you as an
                    individual or which could be used to identify you if combined with other information. Acting in any
                    way on
                    personal data is referred to as "processing".
                    This notice applies to personal data collected through our website and through social media
                    platforms and online
                    retail platforms, including [What You Need, e.g. Facebook, Instagram, Twitter, Etsy, eBay and
                    Amazon].
                    Except as set out below, we do not share, or sell, or disclose to a third party, any information
                    collected
                    through our website.
                    Data Protection Officer
                    We have appointed a data protection officer ("DPO") who is responsible for ensuring that our privacy
                    policy is
                    followed.
                    If you have any questions about how we process your personal data, including any requests to
                    exercise your legal
                    rights, please contact our DPO, through the website contact form you can find in the footer.
                    Personal data we process
                </p>
                <p>
                    How we obtain personal data.
                    The information we process about you includes information:
                    you have directly provided to us
                    that we gather from third party databases and service providers
                    as a result of monitoring how you use our website or our services
                    Types of personal data we collect directly.
                    When you use our website, our services or buy from us, [for example, when you create an
                    account on our
                    website]
                    we ask you to provide personal data. This can be categorised into the following groups:
                    personal identifiers, such as your first and last names
                    contact information, such as your email address
                    account information, including your username and password
                    records of communication between us including messages sent through our website, email
                    messages.
                    In addition, we may also process:
                    an image that shows your face, if used as profile picture
                    documentation that confirms your address, if used on the website
                </p>
                <p>
                    Types of personal data we collect from your use of our services
                    By using our website and our services, we process:
                    your username and password and other information used to access our website and our services
                    information you contribute to our community, including reviews
                    your replies to polls and surveys
                    technical information about the hardware and the software you use to access our website and
                    use
                    our services,
                    including your Internet Protocol (IP) address, your browser type and version and your
                    device's
                    operating system
                    usage information, including the frequency you use our services, the pages of our website
                    that
                    you visit,
                    whether you receive messages from us and whether you reply to those messages
                </p>
                <p>
                    Our use of aggregated information
                    We may aggregate anonymous information such as statistical or demographic data for any
                    purpose.
                    Anonymous
                    information is that which does not identify you as an individual. Aggregated information may
                    be derived
                    from
                    your personal data but is not considered as such in law because it does not reveal your
                    identity.
                    For example, we may aggregate usage information to assess whether a feature of our website
                    is useful.
                    However, if we combine or connect aggregated information with your personal data so that it
                    can identify
                    you in
                    any way, we treat the combined information as personal data, and it will be used in
                    accordance with this
                    privacy
                    notice.
                </p>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="copyright d-inline-block">
                    <p class="text-muted small text-center">
                        <i class="far fa-copyright" aria-hidden="true"></i> For educational purposes.
                    </p>
                </div>
                <div class="footer-social-media-links text-center d-inline-block">
                <a href="#" rel="noopener" target="_blank" aria-label="Link to Pinterest.ie.">
                    <i class="fab fa-pinterest-p" aria-hidden="true" title="###"></i>
                </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}