{% extends "base.html" %}
{% load static %}

{% block extra_title %}- home{% endblock %}

{% block content %}
    <div class="container landing-page-container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center main-title">What You Need</h1>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 text-center">
                <a href="#about-us" class="text-muted" aria-label="Link to the about us section">About us</a> |
                <a href="#contact-us" class="text-muted" aria-label="Link to the contact us section"> Contact us</a> |
                <a href="{% url 'terms_and_conditions' %}" class="text-muted" aria-label="Link to the Terms and Conditions of Use page"> Ts & Cs</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8 col-md-6">
                <!-- Illustration by vectordreamsmachine,
                    (https://depositphotos.com/274525976/stock-illustration-house-flowers-indoor-floriculture-round.html) -->
                <img src="{% static 'images/home-photo.jpg' %}" class="mx-auto img-fluid d-block home-image" 
                    alt="Illustration of plants in round pattern" height="300" width="300">
                <p class="lead text-center mx-auto">
                    Looking for potted plants?
                </p>
            </div>
        </div>
        <div class="row callout-btn-container">
            <div class="col-12">
                <p class="text-center  mx-auto">
                    <a href="{% url 'products' %}" class="callout-btn" aria-label="Link to the all products page.">
                        Find What You Need Today!
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <!-- About us -->
                <a id="about-us" class="home-page-internal-link"></a>
                <h3 class="home-page-section">About us</h3>
                <p>
                    What You Need online shop offers a wide variety of potted plants. From the most delicate plants to the
                    most indestructible. You can browse the website catalog by sorting or searching for specific
                    categories, deals and plants.
                    Get more benefit by creating an account! Saving items into a wishlist, ratings products and
                    leaving reviews. As well keep track of your orders and make request about them with ease and confidence. 
                    And on top of you will have access to the "community only" plants selection. So get what you need today!
                    We are an Irish startup company that thrives on green energy and that aim to give our customers the
                    best service with a positive impact on their daily lives.
                </p>
            </div>
            <div class="col-12 col-md-8 mt-5">
                <!-- Contact us from -->
                <a id="contact-us" class="home-page-internal-link"></a>
                <h3 class="home-page-section">Contact us</h3>
                <form action="{% url 'contact_us' %}" method="POST" class="contact-us-form">
                    {% csrf_token %}
                    {{ contact_form|crispy }}
                    <div class="text-center">
                        <a class="cancel-btn" href="{% url 'home' %}" aria-label="Cancel operation">Cancel</a>
                        <button class="form-btn" type="submit">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div class="container">
        <div class="row">
            <div class="col-12 text-center my-5">
                <div class="copyright d-inline-block">
                    <p class="text-muted small text-center">
                        <i class="far fa-copyright" aria-hidden="true"></i> For educational purposes.
                    </p>
                </div>
                <div class="footer-social-media-links text-center d-inline-block">
                <a href="https://www.pinterest.ie/search/pins/?q=plants&rs=rs&eq=&etslf=3544&term_meta=plants" 
                rel="noopener" target="_blank" aria-label="Link to Pinterest.ie.">
                    <i class="fab fa-pinterest-p" aria-hidden="true" title="Link to plants on Pinterest"></i>
                </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}