{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="mx-auto mb-2 mb-md-5 text-center page-heading">My Wishlist</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            {% if wishlist %}
                <div class="col-12 col-md-6">
                    {% for list in wishlist %}
                    <div class="accordion">
                        <div class="card">
                            <div class="card-header" id="id_header_{{list.name}}">
                                <h2 class="mb-0 d-inline-block">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" 
                                data-toggle="collapse" data-target="#id_{{list.name}}" 
                                aria-expanded="false" aria-controls="id_{{list.name}}">
                                    {{ list.name }}
                                </button>
                                </h2>
                                <a class="delete-prod-btn float-right" href="{% url 'delete_wishlist' list.id %}" 
                                aria-label="Delete product.">
                                    <span class="icon">
                                        <i class="far fa-trash-alt"></i>
                                    </span>
                                    <span class="sr-only">Delete the {{list.name}} wishlist and its content.</span>
                                </a>
                            </div>
                        
                            <div id="id_{{list.name}}" class="collapse" aria-labelledby="id_header_{{list.name}}">
                                <div class="card-body">
                                {% if product|length in list.wishlist_items != 0 %}
                                    {{ list.wishlist_items }}
                                {% else %}
                                    <p>Your wishlist is empty!</p>
                                    <a href="{% url 'products' %}" aria-label="Link to all products page." 
                                    class="keep-shop-btn">
                                        <span>Look for plants!</span>
                                        <span class="icon">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </a>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="d-none d-md-block w-100"></div>
                <div class="col-12 col-md-6 text-center mt-3">
                    <form action="{% url 'add_wishlist' %}" method="POST">
                        {% csrf_token %}
                        <label for="wishlist_name">Add a wishlist:</label><br>
                        <input type="text" id="wishlist_name" name="wishlist_name" class="custom-form-input"><br/>
                        <div class="small">
                            <button type="submit" class="form-btn mt-2">Add wishlist</button>
                        </div>
                    </form>
                </div>
            {% else %}
            <form action="{% url 'add_wishlist' %}" method="POST">
                {% csrf_token %}
                <label for="wishlist_name">Name your wishlist:</label><br>
                <input type="text" id="wishlist_name" name="wishlist_name" class="custom-form-input"><br/>
                <div class="small">
                    <button type="submit" class="form-btn mt-2">Add wishlist</button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
