
<div class="row justify-content-center mb-5">
    <div class="col-12 col-md-6 col-lg-5 mt-3 mt-md-5">
        <hr>
        <h3 class="mx-auto text-center subheading">Reviews {% if reviews %}({{ reviews|length }}){% endif %}</h3>
        {% if not reviews %}
            <p class=" mt-3 text-muted">
                There are no reviews for this product at the moment.    
            </p>
        {% endif %}
        {% if user %}
            <form action="{% url 'add_review' product.id %}" method="POST" class="form mt-2 mt-md-4">
                {% csrf_token %}
                {% for field in review_form %}
                    {% if field.name == 'review_rating' %}
                        Rating<span class="text-danger"> * </span>:{{ field | as_crispy_field }}
                    {% else %}
                        {{ field | as_crispy_field }}
                    {% endif %}
                {% endfor %}
                <div class="text-right">
                    <a class="cancel-btn" href="{% url 'product_detail' product.id %}" 
                    aria-label="Cancel operation">Cancel</a>
                    <button type="submit" class="form-btn">Add Review</button>
                </div>
                <input type="hidden" name="review_redirect_url" value="{{ request.path }}">
            </form>
        {% else %}
            <p class="mt-2">
                To leave a review, please 
                <a href="{% url 'account_login' %}" aria-label="Link to log in page." class="links-inline-style">
                    sign-in</a> or 
                <a href="{% url 'account_signup' %}" aria-label="Link to create an account page." class="links-inline-style">
                    create an account</a>.
            </p>
        {% endif %}
    </div>
    <div class="d-none d-md-block w-100"></div>
    <div class="col-12 col-md-6">
        {% if reviews %}
            {% for review in reviews %} 
                <div class="text-center">
                    <hr>
                </div>
                <div class="mt-1">
                    <p class="text-right mb-0">
                        <span>{{ review.review_rating }}/5</span>
                        <span class="rating-icon"><i class="fas fa-star"></i></span>
                        <span class="sr-only">ratings score</span>
                    </p>
                    <blockquote class="blockquote mb-0">
                        <p class="mb-1 small">{{ review.user }}</p>
                        <footer class="blockquote-footer">{{ review.content }}</footer>
                    </blockquote>
                    <p class="text-right small text-muted mb-0">{{ review.date }}</p>    
                </div>
            {% endfor %} 
        {% endif %}
    </div>
</div>
