{% extends "base.html" %}
{% load static %}

{% block extra_title %}- orders{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="mx-auto mt-3 mb-5 text-center page-heading">
                    Order History 
                    <span class="small text-muted">
                        {% if orders %}({{ orders|length }}){% endif %}
                    </span>
                </h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- User orders details -->
            {% if orders %}
                <div class="col-12 col-md-10">
                    <div class="order-history table-responsive">
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr class="d-none d-md-table-row">
                                    <th scope="col">Order Number</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Items</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                    <!-- large screen order display -->
                                    {% include 'profiles/includes/order_history_lg.html' %}
                                    <!-- small screen order display -->
                                    {% include 'profiles/includes/order_history_sm.html' %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                <div class="col text-center">
                    <p class="mx-auto">You don't have any past orders</p>
                    <a href="{% url 'products' %}" aria-label="Link to all products page." 
                    class="keep-shop-btn">
                        <span>Look for plants!</span>
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </a>
                </div>
            {% endif %}
        </div>
{% endblock %}