{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="mx-auto mb-2 mb-md-5 text-center page-heading">
                    Order History 
                    <span class="small text-muted">
                        {% if orders %}({{ orders|length }}){% endif %}
                    </span>
                </h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- User orders details -->
            {% if orders %}
                <div class="col-12 col-md-8">
                    <div class="order-history table-responsive">
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Order Number</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Items</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                    <tr class="mb-2">
                                        <td>
                                            <a href="{% url 'view_past_order_history' order.order_number %}" title="{{ order.order_number }}"
                                            aria-label="Link to past order number {{order.order_number}}">
                                                {{ order.order_number|truncatechars:12 }}
                                            </a>
                                        </td>
                                        <td>{{ order.date }}</td>
                                        <td>
                                            <ul class="list-unstyled">
                                                {% for item in order.lineitems.all %}
                                                    <li class="small">
                                                        {{ item.quantity }} x {{ item.product.name }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td>€ {{ order.grand_total }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                <div class="col text-center">
                    <p class="mx-auto">You don't have any past orders</p>
                    <a href="{% url 'products' %}" aria-label="Link to all products page." 
                    class="keep-shop-btn">
                        <span>Look for plants!</span>
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </a>
                </div>
            {% endif %}
        </div>
{% endblock %}