/* ------------------------------------ Main content config */

html {
    min-height: 100%;
}

body {
    min-height: 100vh;
    position: relative;
    font-family: 'Lato', sans-serif;
    color: #0d0d0d;
    background-color: #f2f2f2;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
    color: #078c5b;
}

h3, h4, h5, h6 {
    color: #07593b;
}

p {
    max-width: 60ch;
}

button,
a {
    /* will make impossible for the user to select the text in the button */
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    text-decoration: none;
    cursor: pointer;
}

.btn:hover,
.btn:active,
.btn:focus,
button:hover,
button:active,
button:focus,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    color: #052614;
    text-shadow: .5px 1px 2px #07593b;
    outline: none;
}

/* colors */
.light-green {
    color: #07593b;
}

.dark-green {
    color: #052614;
}

.icon {
    color: #052614;
}

/* Override bootstrap text-muted class */

.text-muted {
    color: #0d0d0db3 !important;
}

.dropup .dropdown-toggle::after,
.dropdown-toggle::after {
    display: none;
    content: none;
}

/* Titles */

.main-title {
    margin-top: 30px;
}

.page-heading {
    margin: 3px;
}

.subheading {
    color: #07593bb3;
}

/* Header */
.header-container {
    height: 130px;
}

/* Footer */
.footer-container {
    height: 85px;
}

/* Back to top button */
.scroll-to-top {
    /* height: 30px;
    width: 30px; */
    position: fixed;
    bottom: 90px;
    right: 12px;
}

.striked {
    text-decoration: line-through;
}

/* Override bootstarp backgoud color for better contrast */
.badge-info {
    background-color: #0d0d0d !important;
}

/* ------------------------------------- Small screen header */

.header-container-sm {
    height: 42px;
}
.main-logo-sm {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    z-index: 9999;
}

.main-logo-sm img {
    border-radius: 50%;
}

/* ---------------------------------------------- Navbar common */

.nav-icons-wrapper-sm,
.nav-icons-wrapper-lg {
    margin-top: 2px;
    color: #0d0d0d;
}

.bag-icon-total {
    color: #dc3545;
    font-size: 14px;
    font-weight: 600;
}

.bag-icon-total-sm {
    color: #5c0000;
    font-size: 13.5px;
    font-weight: 800;
}

.nav-list-option-sm,
.nav-list-option-lg {
    color: #0d0d0d;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

/* ------------------------------------------------------- Navbar small screen */

.navigation-menu-container-sm {
    color: #0d0d0d;
    background-color: #03a65a;
    border-radius: 10px;
    padding-bottom: 3px;

    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.navigation-menu-container-sm .list-inline-item:not(:last-child) {
    margin-right: 1rem;
}

.nav-icons-sm {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.nav-icons-sm i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.nav-icons-sm-text {
    margin-top: -6px;
    margin-bottom: 0;
}

/* 
Navigation menu done with a tutorial from adapted for this project.
[Online Tutorials](https://www.youtube.com/watch?v=ArTVfdHOB-M&list=PLKmECQB4ukRQPKzgKL1zpx3NeE-YlYF4o&index=62&t=51s) 
*/

.navigation-menu-container-sm li:hover .nav-icons-sm,
.navigation-menu-container-sm li:focus .nav-icons-sm,
.navigation-menu-container-sm li:active .nav-icons-sm {
    font-size: 1.2rem;
    background-color: #03a65a;
    transform: translateY(-25px);
    -webkit-transform: translateY(-25px);
    -o-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    
    transition-duration: 300ms;
    -o-transition-duration: 300ms;
    -ms-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    
    -webkit-box-shadow: 0 3px 0 6px #f2f2f2;
    box-shadow: 0 3px 0 6px #f2f2f2;
}

.navigation-menu-container-sm li:hover .nav-icons-sm-text,
.navigation-menu-container-sm li:focus .nav-icons-sm-text,
.navigation-menu-container-sm li:active .nav-icons-sm-text {
    font-weight: 800;
}

.navigation-menu-container-sm li:hover .nav-icons-sm::before,
.navigation-menu-container-sm li:focus .nav-icons-sm::before,
.navigation-menu-container-sm li:active .nav-icons-sm::before {
    content: '';
    position: absolute;
    top: 54%;
    left: -50%;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-top-right-radius: 20px;
    -webkit-box-shadow: 2px -3px 0 0 #f2f2f2;
    box-shadow: 2px -3px 0 0 #f2f2f2;
}

.navigation-menu-container-sm li:hover .nav-icons-sm::after,
.navigation-menu-container-sm li:focus .nav-icons-sm::after,
.navigation-menu-container-sm li:active .nav-icons-sm::after {
    content: '';
    position: absolute;
    top: 54%;
    right: -50%;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-top-left-radius: 20px;
    -webkit-box-shadow: -2px -3px 0 0 #f2f2f2;
    box-shadow: -2px -3px 0 0 #f2f2f2;
}

.nav-list-option-sm {
    top: -24px !important;
    left: 30px !important;
    font-size: 0.9rem;
}
.nav-list-option-sm .dropdown-item {
    padding: 4px 18px;
}

.on-page .nav-icons-sm,
.on-page .nav-icons-sm-text {
    transform: scale(1.25);
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
}

/* ------------------------------------------- Navbar large screen */

.navigation-menu-container-lg {
    background-color: #fff;
    box-shadow: 
        0 15px 15px 3px #f2f2f2,
        0 -60px 0px 60px #f2f2f2;
    border-radius: 5px;
}

.on-page .nav-icons-wrapper-lg,
.navigation-menu-container-lg > ul > li:hover .nav-icons-wrapper-lg,
.navigation-menu-container-lg > ul > li:focus .nav-icons-wrapper-lg,
.navigation-menu-container-lg > ul > li:active .nav-icons-wrapper-lg {
    color: #03a65a;
}

.nav-list-option-lg {
    top: 66px !important;
}

/* ---------------------------------------------Sort and Search menu/categories */

.sorting-menu-container {
    position: fixed;
    top: 120px;
    right: 0;
    z-index: 9999;
    margin: 6px;
}

.sort-menu-icon-wrapper {
    height: 50px;
    width: 36px;
    
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    background-color: rgba(0, 0, 0, 0.15);
    color: #0d0d0d;
    font-weight: 800;
}

.sort-menu-icon-text {
    font-weight: 800;
}

/* customised dropdown position for large screen */
.search-dropdown-container-lg {
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translate(-75%, 7%);
    width: 600px;
    min-height: 30vh;
    font-size: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* customised dropup position for small screen */
.search-dropdown-container-sm {
    position: absolute;
    top: -50% !important;
    left: -50% !important;
    transform: translate(-66%, -100%) !important;
    float: left;
    min-width: 300px;
    max-width: 98vh;
    min-height: 30vh;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 12px;

    -webkit-box-shadow: -2px -3px 0 0 #f2f2f2;
    box-shadow: -2px -3px 0 0 #f2f2f2;
}

.sort-dropdown-container,
.search-dropdown-container-sm,
.search-dropdown-container-lg {
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
    z-index: 1031;

    -webkit-box-shadow: 0 0 0 2000px rgba(0,0,0,.5);
    box-shadow: 0 0 0 2000px rgba(0,0,0,.5);
}

.category-card-sm:hover .category-card-body img,
.category-card-lg:hover .category-card-body img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);

    transition-property: transform;
    -o-transition-property: transform;
    -ms-transition-property: transform;
    -moz-transition-property: transform;
    -webkit-transition-property: transform;
    
    transition-duration: 500ms;
    -o-transition-duration: 500ms;
    -ms-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
}

.category-card-sm:hover .category-card-body,
.category-card-lg:hover .category-card-body {

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.categories-container-sm {
    overflow-y: auto;
    padding: 3px;
    width: 300px;
    margin: 0;
}

.categories-container-lg {
    overflow-y: auto;
    padding: 3px;
    max-width: 600px;
    margin: 0;
}

.category-card-sm {
    padding: 3px;
}

.category-card-lg {
    padding: 6px 12px;
}

.category-card-heading-sm {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
}

input[name='q']::placeholder {
    color: #0d0d0d80;
}

.category-card-body{
    padding: 18px 3px 3px 3px;
        
}

.category-card-img {
    overflow: hidden;
}

/* ------------------------------------------- home page */

.home-image {
    margin: 0.5rem;
    border-radius: 5px;
}

.callout-btn-container {
    margin-top: 45px;
}

.callout-btn {
    padding: 6px;
    font-weight: 800;
    background-color: #078c5b;
    color: #0d0d0d;
    border: 2px solid #0d0d0d;
    border-radius: 10px;

    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);

    transition-property: transform, box-shadow;
    -o-transition-property: transform, box-shadow;
    -ms-transition-property: transform, box-shadow;
    -moz-transition-property: transform, box-shadow;
    -webkit-transition-property: transform, box-shadow;

    -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
    transition-property: -webkit-transform, -webkit-box-shadow;
    transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
}

.callout-btn:hover,
.callout-btn:focus,
.callout-btn:active {
    padding: 12px;
    font-size: 110%;
    color: #fff;

    transform: translateY(6px);
    -webkit-transform: translateY(6px);
    -o-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -moz-transform: translateY(6px);

    -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
}

.landing-page-container {
    height: calc(100vh - 130px);
}

/* ----------------------------------------- all_products card */

.card-product-body {
    padding: 0.5rem;
    font-size: 14px;
}

.card-product-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0;
}

.card-product-category {
    color: #0d0d0d;
}

.card-product-description {
    margin-bottom: 0;
}

.wishlist-icon-wrapper {
    position: absolute;
    top: 3px;
    right: 3px;
    margin: 6px;
}

.wishlist-icon {
    color: #052614;
}

.rating-icon {
    color: gold;
}

/* ----------------------------------------- product_detail card */

.badge-product-quantity {
    color: #0d0d0d;
    font-weight: bold;
}

/* form input quantity feedback */
.input-qty-feedback {
    display: none;
    position: absolute;
    top: -25px;
    left: 0;
}

.decrement-qty,
.increment-qty {
    font-size: 12px;
    border-radius: 0.25rem;
    border: 2px solid #052614;
}

.decrement-qty:hover,
.decrement-qty:focus,
.decrement-qty:active,
.increment-qty:hover,
.increment-qty:focus,
.increment-qty:active {
    background-color: #078c5b;
}

.form-control {
    font-size: 12px;
    font-weight: 800;
    padding: 6px;
    margin: 0 3px;
    border-radius: 0.2rem !important;
    border: 1px solid #052614;
}

.prod-detail-add-to-bag-btn-wrapper {
    position: absolute;
    top: -2px;
    left: 30%;
}

.prod-detail-qty-input-wrapper {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.45);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.45);
}

/* .prod-detail-buy-now-wrapper {
    position: absolute;
    top: -2px;
    left: 70%;
} */

/* --------------------------------------- Toasts messages */

.message-container {
    position: fixed;
    top: 130px;
    right: 15px;
    z-index: 99999999999;
}

.toast-capper {
    height: 2px;
}

.bag-notification-wrapper {
    height: 120px;
    overflow-y: auto;
    overflow-x: hidden;
}

.toasts-view-bag-btn {
    padding: 0.375rem 4rem;
}

/* --------------------------- buttons common */

.keep-shop-btn,
.toasts-view-bag-btn {
    font-size: 0.8rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    background-color: #078c5b;
    border-color: #078c5b;
    color: #0d0d0d;
}

.keep-shop-btn:hover,
.keep-shop-btn:focus,
.keep-shop-btn:active,
.toasts-view-bag-btn:hover,
.toasts-view-bag-btn:focus,
.toasts-view-bag-btn:active {
    background-color: #03a65a;
    border-color: #0d0d0d;
    color: #0d0d0d;
}

.light-btn,
.select-image-btn,
.delete-prod-btn,
.move-to-wishlist-btn,
.more-detail-btn,
.buy-now-btn,
.add-to-bag-btn {
    background-color: transparent;
    color: #052614;
    border: 1px solid #052614;
    border-radius: 0.25rem;
    padding: 5px;
    font-size: 12px;
    margin: 3px;
    vertical-align: sub;
    
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.45);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.45);
}

.light-btn:hover,
.light-btn:focus,
.light-btn:active,
.select-image-btn:hover,
.select-image-btn:focus,
.select-image-btn:active,
.move-to-wishlist-btn:hover,
.move-to-wishlist-btn:focus,
.move-to-wishlist-btn:active,
.more-detail-btn:hover,
.more-detail-btn:focus,
.more-detail-btn:active,
.buy-now-btn:hover,
.buy-now-btn:focus,
.buy-now-btn:active,
.add-to-bag-btn:hover,
.add-to-bag-btn:focus,
.add-to-bag-btn:active {
    background-color: #078c5b;
    color: #fff;

    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}

.delete-prod-btn i {
    padding: 3px;
    font-size: 1rem;
    color: #dc3545;
}

.delete-prod-btn:hover,
.delete-prod-btn:focus,
.delete-prod-btn:active {
    background-color: #dc3545;
}

.delete-prod-btn:hover i,
.delete-prod-btn:focus i,
.delete-prod-btn:active i {
    color: #0d0d0d;
}

.checkout-btn {
    padding: 6px 35px;
}

.form-btn,
.user-form-detail-btn,
.allauth-btn-style {
    background-color: #078c5b;
    color: #fff;
    border: 1px solid #078c5b;
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: 0.25rem 0.75rem;
    margin: 3px;
    vertical-align: sub;
    
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.45);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.45);
}

.form-btn:hover,
.form-btn:focus,
.form-btn:active,
.user-form-detail-btn:hover,
.user-form-detail-btn:focus,
.user-form-detail-btn:active,
.allauth-btn-style:hover,
.allauth-btn-style:focus,
.allauth-btn-style:active {
    background-color: #03a65a;
    color: #fff;

    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}

.back-to-btn {
    font-size: 0.8rem;
    padding: 0.15rem 0.65rem;
}

.cancel-btn {
    background-color: #dc3545;
    color: #fff;
    border: 1px solid #dc3545;
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
    margin: 3px;
    vertical-align: sub;
    
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.45);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.45);
}

.cancel-btn:hover,
.cancel-btn:focus,
.cancel-btn:active {
    background-color: #dc354566;
    color: #0d0d0d;

    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}

/* ---------------------------------------Bag */

.bag-buy-now-btn-wrapper {
    height: 40px;
}

.bag-buy-now-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    margin-right: auto;
    background-color: gold;
    color: #052614;
}

.bag-buy-now-btn-top-screen {
    -webkit-box-shadow: 0 -1px 6px 6px #fff;
    box-shadow: 0 -1px 6px 6px #fff;
}

/* scroll to top */
.scroll-to-top {
    position: fixed;
    right: 4px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.scroll-to-top i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #0d0d0d;
}

/* --------------------------------------- Wishlist */

.edit-delete-wishlist-wrapper {
    height: 36px;
}

.edit-delete-wishlist-wrapper a {
    line-height: 1.3rem;
    vertical-align: middle;
}

/* wishlist dropdown menu position override */
.wishlist-dropdown-menu {
    transform: translate3d(-180px, 22px, 0px) !important;
    padding: 6px !important;
    width: max-content !important;
    z-index: 1031;

    -webkit-box-shadow: 0 0 0 2000px rgba(0,0,0,.5);
    box-shadow: 0 0 0 2000px rgba(0,0,0,.5);
}

.wishlist-card-body {
    padding: 3px;
}

/* --------------------------------------- Forms */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #0d0d0d;
}

.custom-form-input,
.allauth-form-inner-content input {
    border-radius: 6px !important;
    border-color: #0d0d0d;
    color: #0d0d0d;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.custom-form-input::placeholder,
.allauth-form-inner-content input::placeholder {
    color: #0d0d0d80;
}

.modal .custom-form-input {
    font-size: 1rem;
    padding: 6px;
}

.links-inline-style,
.allauth-links-inline-style {
    color: #07593b;
    font-size: 1rem;
    font-weight: 600;
}

.links-inline-style:hover,
.links-inline-style:focus,
.links-inline-style:active,
.allauth-links-inline-style:hover,
.allauth-links-inline-style:focus,
.allauth-links-inline-style:active {
    text-decoration: underline;
    text-shadow: .5px 1px 2px #07593b;
    color: #052614;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
}

/* review */
#id_product_review,
#id_product_review option:not(:first-child) {
    color: #0d0d0d;
}

#id_product_review option:first-child {
    color: #0d0d0d80;
}

#div_id_review_rating {
    display: inline-block;
}

#id_review_rating {
    width: 42px;
    height: 26px;
    padding: 4px;
}

#id_content {
    height: 90px;
    overflow-y: auto;
}

/* contact us */
.contact-us-form {
    max-width: 60ch;
    padding: 3px;
}

/* modal position */
.modal-top-margin {
    margin-top: 160px;
}

/* --------------------------------------- Media queries */

@media (max-width: 425px) {
    .prod-detail-add-to-bag-btn-wrapper {
        position: relative;
        left: 8%;
        top: 0;
        margin-bottom: 6px;
    }
}

@media (max-width: 720px) {
    .landing-page-container {
        height: calc(100vh - 42px);
    }
    .main-title{
        font-size: 2rem;
    }
    .home-page-section,
    .subheading {
        font-size: 1.25rem;
    }
    .page-heading {
        font-size: 1.5rem;
    }
    p {
        font-size: 0.9rem;
        line-height: 1.2;
    }
    .lead {
        font-size: 1rem;
        font-weight: 400;
    }
    
    .card-product-images {
        max-width: 100px;
    }

    .sorting-text {
        font-size: 0.8rem;
    }
    .sorting-menu-container {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 9999;
        margin: 6px;
    }
    .sort-menu-icon-wrapper {
        height: 44px;
        width: 32px;
        background-color: rgba(0, 0, 0, 0.65);
        color: #f2f2f2;
        font-weight: 600;
    }
    .sort-menu-icon-text {
        font-weight: 600;
    }
}

@media (min-width: 720px) {

    .home-page-section {
        position: relative;
    }
    .home-page-internal-link {
        position: absolute;
        transform: translateY(-180px);
    }
    .lead {
        font-weight: 400;
    }

    .bag-order-detail {
        position: absolute;
        top: 0;
        right: 0;
    }
    .scroll-to-top {
        right: 10px;
        height: 30px;
        width: 30px;
    }
}

@media (min-width: 1199px) {
    .sorting-menu-container {
        top: 126px;
        right: 40px;
    }

    .scroll-to-top {
        right: 60px;
    }
}

@media (min-width: 1440px) {
    .sorting-menu-container {
        top: 126px;
        right: 180px;
    }

    .scroll-to-top {
        right: 180px;
    }
}

@media (min-width: 2500px) {
    .sorting-menu-container {
        top: 126px;
        right: 320px;
    }
    .sort-menu-icon-wrapper {
        height: 58px;
        width: 50px;
        font-size: 1.3rem;
    }
    .sort-menu-icon-text {
        font-size: 1rem;
    }
    .scroll-to-top {
        right: 340px;
    }
}

@media(max-height: 730px) {
    .search-dropdown-container-lg{
        height: calc(100vh - 140px);
        overflow-y: auto;
        overflow-x: hidden;
    }
}