
.colors {
    color: #03a65a; /* navbar */
    color: #078c5b; /* buttons background */
    color: #07593b; /* titles */
    color: #052614; /* buttons */
    color: #0d0d0d;
}

/* ------------------------------------ Main content config */

html {
    min-height: 100%;
}

body {
    min-height: 100vh;
    position: relative;
    font-family: 'Lato', sans-serif;
    color: #0d0d0d;
    background-color: #f2f2f2;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
    color: #078c5b;
}

h3, h4, h5, h6 {
    color: #07593b;
}

p {
    max-width: 60ch;
}


button,
a {
    /* will make impossible for the user to select the text in the button */
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

/* icons */
.icon {
    color: #052614;
}

.dropup .dropdown-toggle::after,
.dropdown-toggle::after {
    display: none;
    content: none;
}

/* Titles */

.main-title {
    margin-top: 30px;
}

.page-heading {
    margin: 3px;
}

/* Header */
.header-container {
    height: 130px;
}

/* Footer */
.footer-container {
    height: 85px;
}

/* Back to top button */
.scroll-to-top {
    /* height: 30px;
    width: 30px; */
    position: fixed;
    bottom: 90px;
    right: 12px;
}

/* ------------------------------------- Small screen header */

.header-container-sm {
    height: 42px;
}
.main-logo-sm {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    z-index: 9999;
}

.main-logo-sm img {
    border-radius: 50%;
}

/* ------------------------------------------------------- Navbar small screen */

.navigation-menu-container-sm {
    color: #0d0d0d;
    background-color: #03a65a;
    border-radius: 10px;
    padding-bottom: 3px;

    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.navigation-menu-container-sm .list-inline-item:not(:last-child) {
    margin-right: 1rem;
}

.nav-icons-sm {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.nav-icons-sm i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.nav-icons-sm-text {
    margin-top: -6px;
    margin-bottom: 0;
}

/* 
Navigation menu done with a tutorial from adapted for this project.
[Online Tutorials](https://www.youtube.com/watch?v=ArTVfdHOB-M&list=PLKmECQB4ukRQPKzgKL1zpx3NeE-YlYF4o&index=62&t=51s) 
*/

.on-page .nav-icons-sm,
.navigation-menu-container-sm li:hover .nav-icons-sm,
.navigation-menu-container-sm li:focus .nav-icons-sm,
.navigation-menu-container-sm li:active .nav-icons-sm {
    font-size: 1.2rem;
    background-color: #03a65a;
    transform: translateY(-25px);
    -webkit-transform: translateY(-25px);
    -o-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    
    transition-duration: 300ms;
    -o-transition-duration: 300ms;
    -ms-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    
    -webkit-box-shadow: 0 3px 0 6px #f2f2f2;
    box-shadow: 0 3px 0 6px #f2f2f2;
}

.on-page .nav-icons-sm-text,
.navigation-menu-container-sm li:hover .nav-icons-sm-text,
.navigation-menu-container-sm li:focus .nav-icons-sm-text,
.navigation-menu-container-sm li:active .nav-icons-sm-text {
    font-weight: 800;
}

.on-page .nav-icons-sm::before,
.navigation-menu-container-sm li:hover .nav-icons-sm::before,
.navigation-menu-container-sm li:focus .nav-icons-sm::before,
.navigation-menu-container-sm li:active .nav-icons-sm::before {
    content: '';
    position: absolute;
    top: 54%;
    left: -50%;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-top-right-radius: 20px;
    -webkit-box-shadow: 2px -3px 0 0 #f2f2f2;
    box-shadow: 2px -3px 0 0 #f2f2f2;
}

.on-page .nav-icons-sm::after,
.navigation-menu-container-sm li:hover .nav-icons-sm::after,
.navigation-menu-container-sm li:focus .nav-icons-sm::after,
.navigation-menu-container-sm li:active .nav-icons-sm::after {
    content: '';
    position: absolute;
    top: 54%;
    right: -50%;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-top-left-radius: 20px;
    -webkit-box-shadow: -2px -3px 0 0 #f2f2f2;
    box-shadow: -2px -3px 0 0 #f2f2f2;
}

.nav-list-option-sm {
    top: -24px !important;
    left: 30px !important;
}

/* ------------------------------------------- Navbar large screen */

.navigation-menu-container-lg {
    background-color: #fff;
    box-shadow: 
        0 15px 15px 3px #f2f2f2,
        0 -60px 0px 60px #f2f2f2;
    border-radius: 5px;
}

.nav-icons-wrapper {
    margin-top: 2px;
    color: #0d0d0d;
}


/* ------------------------------------------------ Search menu and categories */

/* customised dropdown position for large screen */
.search-dropdown-container-lg {
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translate(-75%, 15%);
    width: 600px;
    min-height: 30vh;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
    overflow-y: scroll;
}

/* customised dropup position for small screen */
.search-dropdown-container-sm {
    position: absolute;
    top: -50% !important;
    left: -50% !important;
    transform: translate(-66%, -100%) !important;
    float: left;
    min-width: 300px;
    max-width: 98vh;
    min-height: 30vh;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 12px;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}

.category-card-body{
    padding: 18px 3px 3px 3px;
}

.category-card-sm {
    padding: 3px;
}

.category-card-heading-sm {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
}

.categories-container-sm {
    overflow-y: scroll;
    padding: 3px;
    width: 300px;
    margin: 0;
}

.categories-container-lg {
    overflow-y: scroll;
    padding: 3px;
    width: 600px;
    margin: 0;
}

/* ------------------------------------------- home page */

.home-image {
    margin: 0.5rem;
    border-radius: 5px;
}

.callout-btn-container {
    margin-top: 45px;
}

.callout-btn {
    padding: 6px;
    font-weight: 800;
    background-color: #078c5b;
    color: #0d0d0d;
    border: 2px solid #0d0d0d;
    border-radius: 10px;

    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);

    transition-property: transform, box-shadow;
    -o-transition-property: transform, box-shadow;
    -ms-transition-property: transform, box-shadow;
    -moz-transition-property: transform, box-shadow;
    -webkit-transition-property: transform, box-shadow;

    -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
    transition-property: -webkit-transform, -webkit-box-shadow;
    transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
}

.callout-btn:hover,
.callout-btn:focus,
.callout-btn:active {
    padding: 12px;
    font-size: 110%;
    color: #fff;

    transform: translateY(6px);
    -webkit-transform: translateY(6px);
    -o-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -moz-transform: translateY(6px);

    -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
}

/* .subjects-buttons:hover {

    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);

    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.45);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.45);
} */

.landing-page-container {
    height: calc(100vh - 130px);
}

/* ----------------------------------------- all_products card */

.card-product {
    /* max-height: 300px; */
}

.card-product-body {
    padding: 0.5rem;
    font-size: 14px;
}

.card-product-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0;
}

.card-product-category {
    color: #0d0d0d;
}

.card-product-description {
    margin-bottom: 0;
}

.wishlist-icon-wrapper {
    position: absolute;
    top: 3px;
    right: 3px;
    margin: 6px;
}

.wishlist-icon {
    color: #052614;
}

/* 
<span class="icon">
    <i class="fas fa-plus-circle"></i>
</span> 
*/

.more-detail-btn,
.buy-now-btn,
.add-to-bag-btn {
    background-color: transparent;
    color: #052614;
    border: 1px solid #052614;
    border-radius: 0.25rem;
    padding: 5px;
    font-size: 12px;
    margin: 3px;
    vertical-align: sub;
    
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.45);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.45);
}

.more-detail-btn:hover,
.more-detail-btn:focus,
.more-detail-btn:active,
.buy-now-btn:hover,
.buy-now-btn:focus,
.buy-now-btn:active,
.add-to-bag-btn:hover,
.add-to-bag-btn:focus,
.add-to-bag-btn:active {
    background-color: #078c5b;
    color: #fff;
    font-size: 600;

    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}

/* ----------------------------------------- product_detail card */

.badge-product-quantity {
    color: #0d0d0d;
    font-weight: bold;
}

/* form input quantity feedback */
.input-qty-feedback {
    display: none;
    position: absolute;
    top: -25px;
    left: 0;
}

.decrement-qty,
.increment-qty {
    font-size: 12px;
    border-radius: 0.25rem;
    border: 2px solid #052614;
}

.decrement-qty:hover,
.decrement-qty:focus,
.decrement-qty:active,
.increment-qty:hover,
.increment-qty:focus,
.increment-qty:active {
    background-color: #078c5b;
}

.input-group {
    background-color: #f2f2f2;
}

.form-control {
    font-size: 12px;
    font-weight: 800;
    padding: 6px;
    margin: 0 3px;
    border-radius: 0.2rem !important;
    border: 1px solid #052614;
}

.prod-detail-add-to-bag-btn-wrapper {
    position: absolute;
    top: -2px;
    left: 40%;
}

.prod-detail-qty-input-wrapper {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.45);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.45);
}

.prod-detail-buy-now-wrapper {
    position: absolute;
    top: -2px;
    left: 70%;
}

.keep-shop-btn {
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    background-color: #078c5b;
    border-color: #078c5b;
    color: #0d0d0d;
}

.keep-shop-btn:hover,
.keep-shop-btn:focus,
.keep-shop-btn:active {
    background-color: #03a65a;
    border-color: #0d0d0d;
    color: #0d0d0d;
}

/* --------------------------------------- Toasts messages */

.message-container {
    position: fixed;
    top: 130px;
    right: 15px;
    z-index: 99999999999;
}

.toast-capper {
    height: 2px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* --------------------------------------- Media queries */

@media (max-width: 720px) {
    .landing-page-container {
        height: calc(100vh - 42px);
    }
    .main-title{
        font-size: 2rem;
    }
    .home-page-section {
        font-size: 1.25rem;
    }
    .page-heading {
        font-size: 1.5rem;
    }
    p {
        font-size: 0.9rem;
        line-height: 1.2;
    }
    .lead {
        font-size: 1rem;
        font-weight: 400;
    }
    
    .card-product-images {
        max-width: 100px;
}
}


@media (min-width: 720px) {

    .home-page-section {
        position: relative;
    }
    .home-page-internal-link {
        position: absolute;
        transform: translateY(-180px);
    }
    .lead {
        font-weight: 400;
    }
}