<nav>
    <div class="container fixed-bottom mb-3">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10">
                <ul class="list-inline list-unstyled text-center my-0 navigation-menu-container-sm">
                    <!-- Home -->
                    <li class="list-inline-item dropup {% if on_home_page %}on-page{% endif %}">
                        <a href="#" role="button" class="nav-btn-home dropdown-toggle" id="dropdown-menu-home" 
                            data-toggle="dropdown" aria-expanded="false">
                            <div class="text-center nav-icons-wrapper-sm">
                                <div class="nav-icons-sm"><i class="fas fa-home"></i></div>
                                <p class="small nav-icons-sm-text">Home</p>
                            </div>
                        </a>
                        <div class="dropdown-menu nav-list-option-sm" aria-labelledby="dropdown-menu-home">
                            <a href="{% url 'home' %}" aria-label="Link to home landing page." 
                            class="dropdown-item">Home</a>
                            <a href="{% url 'home' %}#about-us" aria-label="Link to home  page about us section." 
                            class="dropdown-item">About us</a>
                            <a href="{% url 'home' %}#contact-us" aria-label="Link to home page contact us section." 
                            class="dropdown-item">Contact us</a>
                            <a href="{% url 'home' %}#terms-and-conditions" aria-label="Link to home page terms and conditions section." 
                            class="dropdown-item">Ts & Cs</a>
                        </div>
                    </li>
                    <!-- Profile -->
                    <li class="list-inline-item dropup {% if on_profile_page %}on-page{% endif %}">
                        <a href="#" role="button" class="nav-btn-profile dropdown-toggle" id="dropdown-menu-profile" 
                            data-toggle="dropdown" aria-expanded="false">
                            <div class="text-center nav-icons-wrapper-sm">
                                <div class="nav-icons-sm"><i class="fas fa-user"></i></div>
                                <p class="small nav-icons-sm-text">Profile</p>
                            </div>
                        </a>
                        <div class="dropdown-menu nav-list-option-sm" aria-labelledby="dropdown-menu-profile">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'add_product' %}" aria-label="Link to add product page." 
                                    class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" aria-label="Link to account details page." 
                                class="dropdown-item">Account details</a>
                                <a href="{% url 'order_history' %}" aria-label="Link to your order history page" 
                                class="dropdown-item">Order history</a>
                                <a href="{% url 'all_wishlist' %}" aria-label="Link to wishlist page." 
                                class="dropdown-item">My wishlist</a>
                                <a href="{% url 'account_logout' %}" aria-label="Link to log out page." 
                                class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_login' %}" aria-label="Link to log in page." 
                                class="dropdown-item">Sign in</a>
                                <a href="{% url 'account_signup' %}" aria-label="Link to create an account page." 
                                class="dropdown-item">Create an account</a>
                            {% endif %}
                        </div>
                    </li>
                    <!-- Bag -->
                    <li class="list-inline-item {% if on_bag_page %}on-page{% endif %}">
                        <a href="{% url 'view_bag' %}" aria-label="Link to shopping bag page." 
                        class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %}">
                            <div class="text-center nav-icons-wrapper-sm">
                                <div class="nav-icons-sm"><i class="fas fa-shopping-bag"></i></div>
                                <p class="small nav-icons-sm-text">
                                    {% if grand_total %}
                                        <span class="bag-icon-total-sm">
                                            ${{ grand_total|floatformat:2 }}
                                        </span>
                                    {% else %}
                                        Empty
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                    <!-- Search -->
                    <li class="list-inline-item dropup {% if on_product_page %}on-page{% endif %}">
                        <a href="#" role="button" class="nav-btn-search dropdown-toggle" id="dropdown-menu-search" data-toggle="dropdown" 
                        aria-expanded="false">
                            <div class="text-center nav-icons-wrapper-sm">
                                <div class="nav-icons-sm"><i class="fas fa-search"></i></div>
                                <p class="small nav-icons-sm-text">Search</p>
                            </div>
                        </a>
                        <div class="dropdown-menu search-dropdown-container-sm" aria-labelledby="dropdown-menu-search">
                            <!-- Search categories options -->
                            <div class="row justify-content-center categories-container-sm">
                                {% if categories %}
                                    {% for cat in categories %}
                                        <div class="col-4 category-card-sm">
                                            <a href="{% url 'products' %}?category={{ cat.name }}" 
                                            aria-label="Link to {{ cat.friendly_name }} category.">
                                                <div class="card h-100">
                                                    <div class="card-body category-card-body">
                                                        <h4 class="card-title category-card-heading-sm">{{ cat.friendly_name }}</h4>
                                                        <img src="{{ cat.image.url }}" class="img-fluid" alt="{{ cat.friendly_name }}">
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <!-- All products button -->
                            <div class="row">
                                <div class="col text-center mt-2 mb-3">
                                    <a href="{% url 'products' %}" class="keep-shop-btn" aria-label="Link to the all products page.">
                                        See all products</a>
                                </div>
                            </div>
                            <!-- Search bar -->
                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <form method="GET" action="{% url 'products' %}">
                                        <div class="input-group w100">
                                            <input type="text" name="q" placeholder="Search for what you need"
                                            class="form-control rounded">
                                            <div class="input-group-append">
                                                <button class="btn rounded" type="submit">
                                                    <span class="icon"><i class="fas fa-search"></i></span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                    <div class="indicator"></div>
                </ul>
            </div>
        </div>
    </div>
</nav>