<div class="sorting-menu-container fixed-top">
    <ul class="list-inline list-unstyled my-0  float-right mt-3 mr-3">
        <li class="list-inline-item drodown">
            <a href="#" role="button" class="btn-sorting-menu dropdown-toggle" id="dropdown-menu-sorting" 
            data-toggle="dropdown" aria-expanded="false" data-reference="parent">
                <div class="text-center">
                    <div class="my-0"><i class="fas fa-sliders-h"></i></div>
                    <p class="my-0 small">Sort</p>
                </div>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdown-menu-sorting">
                {% if category_selected %}
                    <a href="{% url 'products' %}?category={{category_selected}}&sort=rating&direction=desc" 
                    aria-label="Sort items by rating from high to low." 
                    class="dropdown-item">By rating</a>
                    <a href="{% url 'products' %}?category={{category_selected}}&sort=price&direction=asc" 
                    aria-label="Sort items by price from low to high." 
                    class="dropdown-item">By price: low to high</a>
                    <a href="{% url 'products' %}?category={{category_selected}}&sort=price&direction=desc" 
                    aria-label="Sort items by price from high to low." 
                    class="dropdown-item">By price: high to low</a>
                    <a href="{% url 'products' %}?category={{category_selected}}&sort=name&direction=asc" 
                    aria-label="Sort items by name from A to Z." 
                    class="dropdown-item">By name: A to Z</a>
                    <a href="{% url 'products' %}?category={{category_selected}}&sort=name&direction=desc" 
                    aria-label="Sort items by name from Z to A." 
                    class="dropdown-item">By name: Z to A</a>
                {% else %}
                    <a href="{% url 'products' %}?category={{category_selected}}&sort=rating&direction=desc" aria-label="Sort items by rating from high to low." 
                    class="dropdown-item">By rating</a>
                    <a href="{% url 'products' %}?sort=price&direction=asc" aria-label="Sort items by price from low to high." 
                    class="dropdown-item">By price: low to high</a>
                    <a href="{% url 'products' %}?sort=price&direction=desc" aria-label="Sort items by price from high to low." 
                    class="dropdown-item">By price: high to low</a>
                    <a href="{% url 'products' %}?sort=name&direction=asc" aria-label="Sort items by name from A to Z." 
                    class="dropdown-item">By name: A to Z</a>
                    <a href="{% url 'products' %}?sort=name&direction=desc" aria-label="Sort items by name from Z to A." 
                    class="dropdown-item">By name: Z to A</a>
                {% endif %}
            </div>
        </li>
    </ul>
</div>