{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
    <h2 class="page-heading text-center mx-auto mb-3 mb-md-5">{% trans "Set Password" %}</h2>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="allauth-btn-style" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
