{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center page-heading">Access Denied!</h2>
            </div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-10 text-center">
                <img class="img-fluid" src="{{ MEDIA_URL }}no-access.jpg" alt="No access image.">
            </div>
            <div class="col-12 text-center">
                <p class="mx-auto mt-3">Where are you going.... I am afraid you cannot go there!</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-10 text-center">
                <p class="text-center  mx-auto">
                    <a href="{% url 'products' %}" class="keep-shop-btn mr-2" aria-label="Link to the all products page.">
                        Keep Shopping
                    </a>
                    <a href="{% url 'home' %}" class="keep-shop-btn ml-2" aria-label="Link to home page.">
                        Back home
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}