{% extends "base.html" %}
{% load static %}

{% block extra_title %}- 404 error{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center page-heading">404 not found!</h2>
            </div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-10 text-center mt-5">
                <!-- Image By Ekaterina Mikhailova [404 error page not found concept with undersea world isolated on white background.
                    The Angler fish swims on depth among other fish, the colorful underwater world with seawood and sand - 
                    flat vector](https://stock.adobe.com/uk/images/404-error-page-not-found-concept-with-undersea-world-isolated-on-white-background-the-angler-fish-swims-on-depth-among-other-fish-the-colorful-underwater-world-with-seawood-and-sand-flat-vector/201849396) -->
                <img class="img-fluid" src="{{ MEDIA_URL }}page-not-found.jpg" alt="404 page not found image.">
            </div>
            <div class="col-12 text-center">
                <p class="mx-auto mt-3">This way seems to lead nowhere.... You should turn around!</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-10 text-center">
                <p class="text-center  mx-auto">
                    <a href="{% url 'products' %}" class="keep-shop-btn mr-2" aria-label="Link to the all products page.">
                        Keep Shopping
                    </a>
                    <a href="{% url 'home' %}" class="keep-shop-btn ml-2" aria-label="Link to home page.">
                        Back home
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}