{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center page-heading">OoOps something went wrong!</h2>
            </div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-10 text-center mt-5">
                <!-- Image By dabflyer [Laptop screen, cloud server, Exclamation mark danger. Vector 3d symbol, isometric,
                    color web icons, new flat style. Creative design idea,
                    concept for infographics](https://stock.adobe.com/uk/images/laptop-screen-cloud-server-exclamation-mark-danger-vector-3d-symbol-isometric-color-web-icons-new-flat-style-creative-design-idea-concept-for-infographics/444681075?prev_url=detail) -->
                <img class="img-fluid" src="{{ MEDIA_URL }}server-error.jpg" alt="server error image.">
            </div>
            <div class="col-12 text-center">
                <p class="mx-auto mt-3">
                    Some plants are causing trouble... Sorry about that!<br/>
                    We are looking into it and the issue should be resolved soon!
                </p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-10 text-center">
                <p class="text-center  mx-auto">
                    <a href="{% url 'products' %}" class="keep-shop-btn mr-2" aria-label="Link to the all products page.">
                        Keep Shopping
                    </a>
                    <a href="{% url 'home' %}" class="keep-shop-btn ml-2" aria-label="Link to home page.">
                        Back home
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}