<script type="text/javascript">

    // Get the form relevant to thte product and submit.
    function submitQuantityForm(quantityInput) {
        let form = quantityInput.closest('.update-form');
        form.submit();
    }

    // Disable +/- buttons outside 1 and max value range
    function handleEnableDisable(itemId) {
        let currentValue = parseInt($(`#id_qty_${itemId}`).val());
        let maxValue = parseInt($(`#id_qty_${itemId}`).attr('max'));
        let minusDisabled = currentValue < 2;
        let plusDisabled = currentValue >= maxValue;
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    let allQtyInputs = $('.qty_input');
    for(let i=0; i < allQtyInputs.length; i++) {
        let itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }

    // Listen to changes on the input box to enable/disable buttons
    // Set the value to min or max depending on input after giving feedback
    $('.qty_input').change(function() {
        let itemId = $(this).data('item_id');
        let currentInput = $(this)
        let currentValue = Number($(`#id_qty_${itemId}`).val());
        console.log(`current value ${currentValue}`)
        let maxValue = parseInt($(`#id_qty_${itemId}`).attr('max'));
        let newValue;
        var quantityFeedback;

        // check if the value is an integer
        if (Number.isInteger(currentValue)){
            if ( currentValue > maxValue ){
                quantityFeedback = $(`#too_high_qty_${itemId}`);
                newValue = maxValue;
            } else if ( currentValue <= 0 ) {
                quantityFeedback = $(`#too_small_qty_${itemId}`);
                newValue = 1;
            }
            currentInput.val(newValue);
            handleEnableDisable(itemId);

            quantityFeedback.show();
            setTimeout(function(){
                quantityFeedback.hide();
            }, 4000);

            submitQuantityForm(currentInput);
        } else {
            quantityFeedback = $(`#not_int_qty_${itemId}`);
            quantityFeedback.show();
            setTimeout(function(){
                quantityFeedback.hide();
                location.reload();
            }, 2000);
        }
    });

    // Increment product quantity
    $('.increment-qty').click(function(e) {
        e.preventDefault();
        let closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        let currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue + 1);
        let itemId = $(this).data('item_id');
        handleEnableDisable(itemId);

        submitQuantityForm(closestInput);
    });

    // Decrement product quantity
    $('.decrement-qty').click(function(e) {
        e.preventDefault();
        let closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        let currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue - 1);
        let itemId = $(this).data('item_id');
        handleEnableDisable(itemId);

        submitQuantityForm(closestInput);
    });
</script>