{% extends "base.html" %}
{% load static %}

{% block extra_title %}- messages{% endblock %}

{% block content %}
    <div class="container position-relative">
        <div class="row">
            <div class="col-12">
                <h2 class="mx-auto my-3 text-center page-heading">Store Management</h2>
                <h3 class="mx-auto mb-3 text-center subheading">Messages</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                {{cust_messages}}
            </div>
        </div>
{% endblock %}
