{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Category and sorting display -->
                {% if current_category %}
                    {% for c in current_category %}
                        <h2 class="mx-auto text-center page-heading">
                            {{ c.friendly_name }} 
                            <small class="text-muted sorting-text">
                                {% if current_sorting != 'None None' %}By {{ current_sorting }}{% endif %}
                            </small>
                        </h2>
                    {% endfor %}
                {% else %}
                    <h2 class="mx-auto text-center page-heading">
                        All Plants 
                        <small class="text-muted sorting-text">
                            {% if current_sorting != 'None None' %}By {{ current_sorting }}{% endif %}
                        </small>
                    </h2>
                {% endif %}
            </div>
            {% if products %}
                <!-- Products count -->
                <div class="col-12">
                    <span class="badge badge-info">
                        {{ products|length }} plants{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                    </span>
                </div>
                <!-- Products display -->
                {% for product in products %}
                    <div class="col-12 col-md-6 p-3 px-md-4 px-lg-5">
                        <div class="card h-100 card-product">
                            <div class="row no-gutters">
                                <div class="col-12 text-center">
                                    {% if product.image %}
                                        <img class="img-fluid card-product-images" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    {% else %}
                                        <img class="img-fluid card-product-images" src="{{ MEDIA_URL }}no-image.jpg" alt="{{ product.name }}">
                                    {% endif %}
                                </div>
                                <div class="col-12">
                                    <div class="card-body card-product-body">
                                        <div class="row no-gutters">
                                            <div class="col">
                                                <h3 class="card-title card-product-title">{{ product.name }}</h3>
                                            </div>
                                            <div class="col">
                                                <p class="text-right my-0">
                                                    {% if product.rating %}
                                                        <span>{{ product.rating }}</span>
                                                    {% else %}
                                                        <span><small class="text-muted">No rating</small></span>
                                                    {% endif %}
                                                    <i class="fas fa-star"></i>
                                                </p>
                                            </div>
                                            <div class="col-12 text-left">
                                                <span><strong>€ {{ product.price }}</strong></span>
                                            </div>
                                            {% if product.category %}
                                                <div class="col-12 text-left">
                                                    <a href="{% url 'products' %}?category={{ product.category.name }}" 
                                                    aria-label="Link to {{ product.category.friendly_name }} category." 
                                                    class="card-product-category text-muted">
                                                    {{ product.category.friendly_name }}</a>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="row no-gutters">
                                            <div class="col-12">
                                                <p class="card-text card-product-description">
                                                    {{ product.description|truncatechars:100 }}<br>
                                                </p>
                                                {% if product.quantity == 0 %}
                                                    <p class="card-text mt-1">
                                                        <span class="badge badge-pill badge-danger badge-product-quantity"
                                                        >Out of stock</span>
                                                        <span class="card-text"><small class="text-muted">
                                                            It will be back in stock soon</small></span>
                                                    </p>
                                                {% elif product.quantity <= 5 %}
                                                    <p class="card-text mt-1">
                                                        <span class="badge badge-pill badge-warning badge-product-quantity">
                                                            Only {{ product.quantity }} left</span>
                                                    </p>
                                                {% else %}
                                                    <p class="card-text mt-1">
                                                        <span class="badge badge-pill badge-success badge-product-quantity">
                                                            In stock</span>
                                                    </p>
                                                {% endif %}
                                                {% if request.user.is_superuser %}
                                                    <p class="small">
                                                        <a class="cancel-btn" href="{% url 'edit_product' product.id %}" 
                                                        aria-label="Cancel operation">Edit Product</a>
                                                        <a class="cancel-btn" href="{% url 'delete_product' product.id %}" 
                                                        aria-label="Cancel operation">Delete Product</a>
                                                    </p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters justify-content-center mb-1">
                                <div class="col-4 col-lg-3 text-center">
                                    <a href="{% url 'product_detail' product.id %}" aria-label="Link to {{ product.name }} details" 
                                    class="more-detail-btn">More details</a>
                                </div>
                                <!-- Buy now button -->
                                <div class="col-4 col-lg-3 text-center">
                                    <a href="#" class="buy-now-btn" aria-label="Link to shopping bag page">Buy now</a>
                                </div>
                                <div class="col-4 col-lg-3 text-center">
                                    <!-- Add to bag with quantity selector -->
                                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                                        {% csrf_token %}
                                        {% if product.quantity == 0 %}
                                            <button class="add-to-bag-btn" title="Out of stock, cannot add to bag" disabled>
                                                Add to bag
                                            </button>
                                        {% else %}
                                            <button class="add-to-bag-btn" type="submit">
                                                Add to bag
                                            </button>
                                        {% endif %}
                                        <input type="hidden" name="quantity" value="1" data-item_id="{{ product.id }}">
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </form>
                                </div>
                            </div>
                            <!-- Add to wishlist -->
                            <div class="wishlist-icon-wrapper">
                                <a class="wishlist-icon" href="#" type="button" title="Add to wishlist">
                                    <i class="far fa-heart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-12 text-center mt-5">
                    <p class="text-center mx-auto pb-4">
                        OoOps !!! There is nothing growing here 
                        {% if search_term %} with <strong>"{{ search_term }}"</strong> characteristics{% endif %}...
                    </p>
                    <a href="{% url 'home' %}" aria-label="link to home page" class="keep-shop-btn m-2">Back home</a>
                    <a href="{% url 'products' %}" aria-label="link to home page" class="keep-shop-btn m-2">Back to the garden</a>
                </div>
            {% endif %}
        </div>
    </div>
    <!-- Back to the top button -->
    <div class="scroll-to-top">
        <a href="#" id="back-to-top-link">
            <i class="fas fa-arrow-up"></i>
        </a>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'bag/includes/set_position_back_script.html' %}
    <script type="text/javascript">
        $('#back-to-top-link').click(function(e) {
            window.scrollTo(0,0)
        })
    </script>
{% endblock %}