{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 p-3">
                <div class="card h-100 card-products">
                    <div class="row no-gutters">
                        <div class="col-12 text-center">
                            {% if product.image.url %}
                                <a href="{{ product.image.url }}" target="_blank" aria-label="Link to view the image.">
                                    <img class="img-fluid card-products-images" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                            {% else %}
                                <img class="img-fluid card-products-images" src="{{ MEDIA_URL }}no-image.jpg" alt="{{ product.name }}">
                            {% endif %}
                        </div>
                        <div class="col-12">
                            <div class="card-body">
                                <div class="row no-gutters">
                                    <div class="col">
                                        <h5 class="card-title">{{ product.name }}</h5>
                                    </div>
                                    <div class="col">
                                        <p class="text-right">
                                            {% if product.rating %}
                                                <span>{{ product.rating }}</span>
                                            {% else %}
                                                <span><small class="text-muted">No rating</small></span>
                                            {% endif %}
                                            <i class="fas fa-star"></i>
                                        </p>
                                    </div>
                                    {% if product.scientific_name %}
                                        <div class="col-12 text-left">
                                            <span class="text-muted">{{ product.scientific_name }}</span>
                                        </div>
                                    {% endif %}
                                    <div class="col-12 text-left">
                                        <span><strong>€ {{ product.price }}</strong></span>
                                    </div>
                                    {% if product.category %}
                                        <div class="col-12 text-left">
                                            <a href="{% url 'products' %}?category={{ product.category.name }}" 
                                            aria-label="Link to {{ product.category.friendly_name }} category." 
                                            class="">{{ product.category.friendly_name }}</a>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="row no-gutters">
                                    <div class="col-12">
                                        <p class="card-text">
                                            {{ product.description }}<br>
                                        </p>
                                        {% if product.height %}
                                            <p class="card-text">Height: {{ product.height }} cms</p>
                                        {% endif %}
                                        {% if product.diameter %}
                                            <p class="card-text">Diameter: {{ product.diameter }} cms</p>
                                        {% endif %}
                                        {% if product.quantity == 0 %}
                                            <p class="card-text">
                                                <span class="badge badge-pill badge-danger badge-product-quantity">
                                                    Out of stock</span>
                                                <span class="card-text my-0"><small class="text-muted">
                                                    It will be back in stock soon</small></span>
                                            </p>
                                        {% elif product.quantity <= 5 %}
                                            <p class="card-text">
                                                <span class="badge badge-pill badge-warning badge-product-quantity">
                                                    Only {{ product.quantity }} left</span>
                                            </p>
                                        {% else %}
                                            <p class="card-text">
                                                <span class="badge badge-pill badge-success badge-product-quantity">
                                                    In stock</span>
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <!-- Add to bag with quantity selector -->
                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p>Quantity:</p>
                            <div class="form-group w-25">
                                <div class="input-group position-relative">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty" 
                                            data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                            <span>
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input" id="id_qty_{{ product.id }}" type="number" name="quantity" 
                                        value="1" min="1" max="{{ product.quantity }}" data-item_id="{{ product.id }}">
                                    <div class="input-qty-feedback" id="too_high_qty_{{ product.id }}">
                                        <small class="badge badge-warning">
                                            We dont have that many! max = {{ product.quantity }}
                                        </small>
                                    </div>
                                    <div class="input-qty-feedback" id="too_small_qty_{{ product.id }}">
                                        <small class="badge badge-warning">
                                            That is too little! min = 1
                                        </small>
                                    </div>
                                    <div class="input-group-append">
                                        <button class="increment-qty"
                                            data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                            <span>
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <a href="{% url 'products' %}" aria-label="Link to all products page." 
                            class="btn btn-primary">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span>Keep shopping | All products</span>
                            </a>
                            <a href="{% url 'products' %}?category={{product.category.name}}" aria-label="Link to all products page." 
                            class="btn btn-primary">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span>Shop {{ product.category.friendly_name }}</span>
                            </a>
                            <button class="m-1" type="submit">
                                <span>Add to bag</span>
                                <span class="icon">
                                    <i class="fas fa-plus-circle"></i>
                                </span>
                            </button>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
                <button class="m-1">Buy now</button>
                <a class="m-1" href="#" type="button" title="Add to wishlist">
                    <i class="far fa-heart"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}
